<div class="smartcat-connector wrap">
    <h1 class="wp-heading-inline">{{ texts.title }}</h1>
    <hr class="wp-header-end" />

    {{# saved }}
    <div id=”message” class="updated settings-error notice is-dismissible">
        <p><strong>{{ texts.message }}</strong></p>
    </div>
    {{/ saved }}

    <div class="form-wrap">
        <form method="post" action="options.php">
            {{& fields }}
            {{& sections }}
            <p class="submit">
                <input type="submit" class="button-primary" value="{{ texts.save_changes }}" />
            </p>
        </form>
    </div>
</div>